:root{
    --main-color: #e84242;
    --black-color:#121212;
    --border:0.1rem solid rgba(255,255,255,0.4);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 0.8rem;
    background-color: white;
    color: var(--black-color);
}

html::-webkit-scrollbar-track{
    background-color: transparent;
}

html::-webkit-scrollbar-thumb{
    border-radius: 3rem;
    background-color: var(--black-color);
 
}


.header .search-form{
    position: absolute;
    top: 115%;
    right: 7%;
    background-color: white;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    border-radius: 3rem;
    box-shadow: 0px 0px 17px -2px rgba(0,0,0, 0.75);
    transform: scaleY(0);
    
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form i{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black-color);
}

.header .search-form input{
    width: 100%;
}

.logo img{
    height: 10rem;
}

body{
    background-color: var(--main-color);
    
}

section{

    padding: 3.5rem 7%;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 3rem 3.75rem;
    border-radius: 30rem;
    font-size: 1.7rem;
    color: #ccc;
    background-color: var(--black-color);
    cursor: pointer;
    
    
}


.btn:hover{
    opacity: 0.5;
}
.heading{
    color: white;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 3.5rem;
    border-bottom: 0.1rem solid white;

}
    
.heading span{
    text-transform: uppercase;
    color: var(--black-color);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s ease;
    font-family:sans-serif;
}



.header{
    background-color: white;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 7%;
    margin: 2rem 7%;
    border-radius: 10rem;
    box-shadow: 0px 0px 17px -2px rgba(0,0,0, 0.75);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header .navbar a {
    margin: 0.5rem;
    font-size: 1.6rem;
    color: var(--black-color);
    border-bottom: 0.1rem solid transparent ;
}
header .navbar .active,
header .navbar a:hover{
    border-color: var(--main-color);
    padding-bottom: 0.5rem;
}

.header .buttons button{
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
    background-color: transparent;

}

#menu-btn{
    display: none;
}

.home{
    min-height: 100vh;
    background:url(../images/home.jpg)
     no-repeat;
     background-size: cover;
     background-position: center;
     margin-top: -14.5rem;
     display: flex;
     align-items: center;
     
    
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    color: white;
    
}

.home .content p{
    font-size: 2rem;
    color: white;
    font-weight: 300;
    line-height: 1.8;
    padding: 1rem 0;
    color-scheme: #ccc;
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap: 1.5rem;
}

.menu .box-container .box{
    padding: 3rem;
    background-color:white;
    border-radius: 3rem;
    background-color: white;
    min-height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.menu .box-container .box img{
    width: 100%;
    object-fit: cover;
    
}

.menu .box-container .box .menu-category{
    font-size: 1.2rem;
    text-transform: uppercase;
}

.menu .box-container .box h3{
    font-size: 3rem;
    padding: 1rem 0;
}

.menu .box-container .box .price{
    font-size: 2.5rem;
    padding: 0.5rem 0;
}

.menu .box-container .box .price span{
    text-decoration: line-through;
    font-size: 1.5rem;
}

.footer{
    background-color: var(--black-color);
    text-align: center;
}

.footer .search{
    display: flex;
    justify-content: center;
}

.footer .search .search-input{
    width: 30rem;
}

.footer .search .btn-primary{
    background-color: var(--main-color);
    padding: 1rem 2rem;
    margin-left: 1rem;
}

.search-input{
    font-size: 1.6rem;
    color: var(--black-color);
    padding: 1rem;
    text-transform: none;
    border-radius: 3rem;
}

.footer .share{
    padding: 2rem 0;
}

.footer .share a{
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    color: white;
    font-size: 2rem;
    border: var(--border);
    border-radius: 50%;
    margin: 0.3rem;
}

.footer .share a:hover{
    background-color: var(--main-color);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer .links a{
   background-color: var(--main-color);
   padding:0.7rem 2rem;
   color: white;
   font-size: 2rem;
   border: var(--border);
}

.footer .links a:hover{
    background-color: var(--black-color);
    opacity: 0.7;
    
 }

 .footer .links a.active{
    background-color: var(--black-color);
    
 }

 .footer .credit{
    font-size: 2rem;
    color: white;
    font-weight: 300;
    padding-top: 1.5rem;
 }

 .footer .credit span{
    color: var(--main-color);
 }


 .about .row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
  }
  
  .about .row .image {
    flex: 1 1 45rem;
  }
  
  .about .row img {
    width: 100%;
  }
  
  .about .row .content {
    flex: 1 1 45rem;
  }
  
  .about .row .content h3 {
    font-size: 3rem;
    color: #fff;
  }
  
  .about .row .content p {
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
  }

 @media (max-width:991px){
    html{
        font-size: 55%;
    }

    .header{
        padding: 1.5rem 2rem;
    }

    .header .logo img{
        height: 7rem;
    }

    section{
        padding: 2rem;
    }
 }

 @media(max-width:768px){
    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 95%;
        background-color: white;
        height: calc(100vh - 9rem);
        width: 30rem;
        box-shadow: 0px 20px 14px 0px rgb(0 0 0 / 75%);
        right: -100%;
    }

    .header .navbar{
        color: var(--black-color);
        display: block;
        margin: 1.5rem;
    }
 }